streamlit 
python-dotenv
langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-groq
unstructured
tiktoken 
chromadb
sentence-transformers
torch
transformers
pydantic
beautifulsoup4
requests
lxml